@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

button:focus { 
    outline: none; 
}

.bold {
    font-weight: bold;
}

.transition {
    background-size: contain;
    width: 100vw;
    margin-top: -2vw;
}

.title { 
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    margin: 0 auto;
    width: 90vw;
}

.hidden {
    display: none;
}

.hide {
    animation: modalClose 0.3s ease-in-out forwards;
}

.show {
    display: block;
    animation: modalOpen 0.3s ease-in-out forwards;
}

main {
    width: 100vw;
}

.show__main {
    display: block;
}

.hide__main {
    display: none;
}

.callback__btn {
    width: 268px;
    height: 61px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #2f2f2f;
    margin-top: 20px;
    border-radius: 5px;
}

form:invalid input[type="submit"] {
    background: gray;
    border: none;
    pointer-events: none;
}

form:valid input[type="submit"] {
    background: linear-gradient(360deg, #ff0 12.68%, #ffffcf 100%);
    border: none;
    cursor: pointer;
}

form:valid input[type="submit"].callback__btn:hover {
    box-shadow: 0 5px 15px 0 rgba(255, 255, 51, 0.5);
}

form:valid input[type="submit"].callback__btn:active {
    box-shadow: inset -6px -6px 25px 0 rgba(0, 0, 0, 0.2), inset 6px 6px 15px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 850px) {
    .title {
        font-size: 32px;
    }
}