.info__page {
    width: 100vw;
    height: 1201px;
}

.title__info {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #1e1e1e;
    text-align: center;
    margin-top: 63px;
}

.blocks__info {

}

.first__block__info {

}

.text__date__info {

}
