.info__page {
    width: 100vw;
    height: 1201px;
    background-image: url('../img/info__img.png');
}

.title__info {
    color: #1e1e1e;
    padding-top: 63px;
    margin-bottom: 50px;
}

.blocks__info {
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.9fr);
    grid-template-areas: 
    'first second'
    'third fourth'
    ;
    column-gap: 20px;
}

#img__info {
    width: 100%;
}

.first__block__info {
    grid-area: first;
}

.text__date__info {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #1e1e1e;
}

.second__block__info {
    grid-area: second;
}

.text__bor {
    width: 98%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 16px;
    color: #1e1e1e;
}

.third__block__info {
    grid-area: third;
}

.title__laser {
    margin: 15px 0 10px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #1e1e1e;
}

.text__laser {
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    color: #1e1e1e;
    text-align: inherit;
    width: 90%;
}

.fourth__block__info {
    grid-area: fourth;
}

.title__machinery {
    margin: 15px 0 10px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #1e1e1e;
}

.text__machinery {
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    color: #1e1e1e;
    text-align: inherit;
    width: 90%;
}

@media (max-width: 1300px) {
    .blocks__info {
        max-width: 90vw;
    }
}


@media (max-width: 1300px) {
    .blocks__info {
        max-width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, 45vw);
        grid-template-rows: repeat(2, 0.9fr);
    }
}

@media (max-width: 1100px) {
    .info__page {
        height: 1150px;
    }
}

@media (max-width: 900px) {
    .info__page {
        height: 950px;
    }

    .text__date__info {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .text__laser {
        font-size: 12px;
    }
    .text__machinery {
        font-size: 12px;
    }
}
