.modal {
    z-index: 11;
    position: fixed;
    top: 50%;
    left: 50%;  
    background-image: url('/img/back__modal.svg');
    border: 1px solid white;
    border-radius: 25px;
    width: 428px;
    height: 489px;
}


.modal__title {
    width: 335px;
    margin-top: 45px;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #dedede;
}

.description__modal {
    margin-top: 15px;
    width: 90%;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    color: #dedede;
}

.modal__btn {
    width: 268px;
    height: 61px;
    margin: 20px auto 0;
}

.checkmark__modal {
    font-weight: 200;
    font-size: 10px;
    color: #dedede;
}
.callback__label__checkbox__invite {
    margin-top: 15px;
}

.callback__label__checkbox {
    width: 240px;
    margin: 0 auto;
    margin-top: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 500vw;
    height: 500vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    opacity: 0;
}


@keyframes modalOpen {
    from {
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        display: block;
    }
}

@keyframes modalClose {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
        display: none;
    }
}