.trusting__page {
    width: 100vw;
    height: 812px;
    background-image: url('/img/processing.png');
}

.title__trusting {
    margin-top: 55px;
    color: #dedede;
}

.block__trusting {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-between;
}

.thanks__letter {
    margin-top: 64px;
    width: 338px;
    height: 472px;
}

.trusting__list {
    margin-top: 150px;
}

.item__trusting {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.text__list {
    width: 409px;
    font-weight: 400;
    font-size: 16px;
    color: #dedede;
}

.trusting__button {
    width: 268px;
    height: 61px;
    margin-left: 40px;
    margin-top: 5px;
}

